{
  "branches": "main",
  "ci": false,
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
      "@semantic-release/git",
      {
        "assets": [
          "Cargo.toml",
          "CHANGELOG.md"
        ],
        "message": "release: v${nextRelease.version}\n\n${nextRelease.notes}"
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "artifacts/git-commit-analytics_v*_win.zip",
            "label": "Windows Build"
          },
          {
            "path": "artifacts/git-commit-analytics_v*_mac.zip",
            "label": "macOS Build"
          }
        ]
      }
    ]
  ]
}